<!--TITULO-->

html, body { height: 100%; }
body { display: flex; justify-content: center; align-items: center; margin:20px 0; text-align:center; background:beige; overflow:hidden; }

h1 {
  margin-top: 3px;
  font-size:5em;
  font:bold 7.5vw/1.6 'Signika', sans-serif;
  user-select:none;
}

h1 span { display:inline-block; animation:float .2s ease-in-out infinite; }
  @keyframes float {
  0%,100%{ transform:none; }
  33%{ transform:translateY(-1px) rotate(-2deg); }
  66%{ transform:translateY(1px) rotate(2deg); }
}
body:hover span { animation:bounce .6s; }
@keyframes bounce {
  0%,100%{ transform:translate(0); }
  25%{ transform:rotateX(20deg) translateY(2px) rotate(-3deg); }
  50%{ transform:translateY(-20px) rotate(3deg) scale(1.1);  }
}

span:nth-child(4n) { color:hsl(50, 75%, 55%); text-shadow:1px 1px hsl(50, 75%, 45%), 2px 2px hsl(50, 45%, 45%), 3px 3px hsl(50, 45%, 45%), 4px 4px hsl(50, 75%, 45%); }
span:nth-child(4n-1) { color:hsl(135, 35%, 55%); text-shadow:1px 1px hsl(135, 35%, 45%), 2px 2px hsl(135, 35%, 45%), 3px 3px hsl(135, 35%, 45%), 4px 4px hsl(135, 35%, 45%); }
span:nth-child(4n-2) { color:hsl(155, 35%, 60%); text-shadow:1px 1px hsl(155, 25%, 50%), 2px 2px hsl(155, 25%, 50%), 3px 3px hsl(155, 25%, 50%), 4px 4px hsl(140, 25%, 50%); }
span:nth-child(4n-3) { color:hsl(30, 65%, 60%); text-shadow:1px 1px hsl(30, 45%, 50%), 2px 2px hsl(30, 45%, 50%), 3px 3px hsl(30, 45%, 50%), 4px 4px hsl(30, 45%, 50%); }

h1 span:nth-child(2){ animation-delay:.05s; }
h1 span:nth-child(3){ animation-delay:.1s; }
h1 span:nth-child(4){ animation-delay:.15s; }
h1 span:nth-child(5){ animation-delay:.2s; }
h1 span:nth-child(6){ animation-delay:.25s; }
h1 span:nth-child(7){ animation-delay:.3s; }
h1 span:nth-child(8){ animation-delay:.35s; }
h1 span:nth-child(9){ animation-delay:.4s; }
h1 span:nth-child(10){ animation-delay:.45s; }
h1 span:nth-child(11){ animation-delay:.5s; }
h1 span:nth-child(12){ animation-delay:.55s; }
h1 span:nth-child(13){ animation-delay:.6s; }
h1 span:nth-child(14){ animation-delay:.65s; }
:root {
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
  --font-sans: "Rubik", sans-serif;
  --font-serif: "Cardo", serif;
}
<!-- TERMINA TITULO-->

* {
  box-sizing: border-box;  
}

html, body {
  height: 100%;
}

body {
  display: grid;
  place-items: center;
  background-image:  url(images/5a.jpg);
  overflow: scroll;

}
.MARCAS{
  color:yellow
  
}
.ALIMENTOS{
  color:yellow
  
}
.Farmapet{
  color:rgb(179, 202, 48)
}

.alimentoTarjetas {
  background-color: gray;
}
.alimentoTarjetasfoot{
  background-color: rgb(64, 66, 138);
}
.boton{
  margin: left 10px;;
}
.uil-dribbble{
  background-color: rgb(130, 206, 107);
}



body {
  background-color: beige;
}
.red {
  color: red;
}

#footer {
  position: fixed;
  width: 100%;
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
  background-color: black;
  color: white;
  text-align: center;
  bottom: 0;
  left: 0;
}



